body{
	position: relative;
	padding:0;
	margin:0;
	min-width:960px;

	font-family: 'Cuprum', Arial, sans-serif;
	font-size:14px;
	line-height: 24px;
	font-weight: 400;
	color:#000000;

	background-color:#ffffff;
}


.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}

img{
	max-width: 100%;
	height: auto;
}

a{
	text-decoration: none;
}

.button{
	display:inline-block;
	font:inherit;
	background-color: #ee3643;
	text-align: center;
	vertical-align: middle;
	color: #ffffff;
	text-transform: uppercase;
	border: none;

	transition: background-color 0.1s;
}

.button:hover{
	background-color: #ca2c37;
}

.button:active{
	background-color: #ba2732;
}


.container{
	padding:0 10px;
	margin:0 auto;
	width:940px;
}

.main-header{
	margin-bottom: 60px;
	padding-bottom:60px;
	background-color: #f3f7f8;
}

.inner-page .main-header{
	margin-bottom:0;
}


.main-header-wrapper{
	background-color: #293449;
}

.main-header-columns{
	display:flex;
	align-items: flex-start;
	margin-bottom:40px;
}

.main-header-logo{
	position:relative;
	padding:9px 55px;
	font-size:24px ;
	line-height:24px;
	color:#ffffff;
	background-color: #ee3643;
	text-transform: uppercase;

	transition: background-color 0.2s;
}

.main-header-logo::before{
	content:"";
	position:absolute;
	left:0;
	bottom:-5px;
	height:5px;
	width:100%;
	background-color: #b52933;
}

.main-header-logo:hover{
	background-color: #ca2c37;
}

.main-header-logo:hover::before{
	background-color: #9a212a;
}

.main-header-logo:active{
	background-color: #ba2732;
}

.main-header-logo:active::before{
	background-color: #8e1e26;
}

.search-form{
	position: relative;
	flex-grow:1;
	cursor:pointer;

	transition: background-color 0.3s;
}

.search-form input[type='text']{
	padding:12px 10px;
	padding-left:50px;

	width:100%;

	font-size:17px ;
	line-height:18px;
	color:#ffffff;
	box-sizing: border-box;
	border:0;
	background-color: #293449;

	transition: background-color 0.3s;
}


.search-form input[type='text']::-webkit-input-placeholder{
	color:#ffffff;
}
.search-form input[type='text']::-moz-placeholder{
	color:#ffffff;
}
.search-form input[type='text']:-ms-input-placeholder{
	color:#ffffff;
}
.search-form input[type='text']::-ms-input-placeholder{
	color:#ffffff;
}
.search-form input[type='text']:-moz-placeholder{
	color:#ffffff;
}

.search-form input[type='text']:hover{
	background-color: #212a3a;
}


.search-form input[type='text']:focus{
	outline: transparent;
	background-color: #ffffff;
	color:#000000;
}

.search-form-btn{
	position: absolute;
    left:17px;
    top:12px;
    padding: 0;
    line-height: 0;
    border:0;
	background-color: transparent;

	cursor:pointer;
	opacity: 0.3;

	transition: opacity 0.3s;

}


.search-form input[type='text']:hover + .search-form-btn,
.search-form-btn:hover{
	opacity: 1;
}


.search-form input[type='text']:focus + .search-form-btn path{
	opacity: 1;
	fill: #ee3643;
}
.search-form input[type='text']:focus + .search-form-btn{
	opacity: 1;
}

.order-navigation{
	display:flex;
	flex-wrap: wrap;
	margin:0;
	padding:0;
	list-style: none;
	margin-left:auto;
	width:450px;
}

.order-navigation a{
	display:block;
	padding:12px 0;
	padding-right:30px;
	width:120px;
	text-align: right;
	font-size:17px ;
	line-height:18px;
	color:#ffffff;
}

.order-navigation-bookmarks,
.order-navigation-basket{
	position:relative;

	transition: background-color 0.3s;
}

.order-navigation-bookmarks::before,
.order-navigation-basket::before{
	content:"";
	position:absolute;
	top:13px;
	left:15px;
	width:14px;
	height:16px;
	background-repeat: no-repeat;
	background-position: top center;
	opacity: 0.3;

	transition: opacity 0.3s;
}

.order-navigation-bookmarks::before{
	width:14px;
	height:16px;
	background-image: url('../images/icon-boomark.png');
}

.order-navigation-basket::before{
	width:15px;
	height:15px;
	background-image: url('../images/icon-basket.png');
}

.order-navigation-bookmarks:hover::before,
.order-navigation-basket:hover::before{
	opacity: 1;
}

.order-navigation-bookmarks:hover,
.order-navigation-basket:hover{
	background-color: #212a3a;
}

.order-navigation-bookmarks:active,
.order-navigation-basket:active{
	background-color: #161d29;
	color:#8b8e94;
}

.order-navigation .order-navigation-bg{
	padding:12px 0;
	width: 150px;
	text-align: center;
	background-color: #63a63e;
}

.order-navigation-bg:hover{
	background-color: #5fbb2d;
}

.order-navigation-bg:active{
	background-color: #518534;
	color:#aac39b;
}

.product-availability,
.product-availability:hover{
	background-color: #ee3643;
}

.product-availability:active{
	color:#f7f3ec;
}

.main-header .site-info{
	align-self: center;
	margin:0;
	padding-left:53px;

	width:265px;
	font-size: 16px;
	line-height:23px;
	color:#ee3643;
	font-weight:700;
	font-style:italic;
}

.main-header-contacts{
	min-width: 270px;
	text-align:center;
}

.main-header-contacts .tel{
	position: relative;
	margin:0;
	margin-bottom:5px;
	padding:9px 0;
	padding-left: 70px;

	font-size: 21px;
	line-height:21px;
	color:#ee3643;
	font-weight:700;
	text-align: left;

	border:3px solid #ffffff;
}

.main-header-contacts .tel::before{
	content:"";
	position:absolute;
	top:10px;
	left:12px;
	width:19px;
	height:19px;
	background-image: url('../images/icon-phone.png');
	background-repeat: no-repeat;
	background-position: top center;
}

.main-header-contacts .address{
	margin:0;
	color:#32425c;
	font-weight:700;
}


.user-navigation{
	display:flex;
	align-items: center;
	flex-wrap:wrap;
	margin:0;
	margin-left:auto;
	padding:0;
	list-style: none;
	max-width: 300px;
}

.user-navigation a{
	display:block;
	padding:12px 0;

	font-size: 21px;
	line-height:21px;
	color:#000000;
	font-weight: 700;
	background-color: #ffffff;
}

.user-navigation .user-navigation-login{
	position: relative;
	margin-right:10px;
	padding-left:50px;

	width:70px;
	text-align: left;
}


.user-navigation .user-navigation-reg{	
	width:150px;
	text-align: center;
}

.user-navigation-login::before,
.user-navigation-login::after{
	content:"";
	position:absolute;
	top:14px;
	/*left:14px;
	width:20px;
	height:17px;
	background-image: url('../images/icon-login.png');*/
	width:20px;
	height:17px;
	background-repeat: no-repeat;
	background-position: top center;
	opacity: 0.3;
}

.user-navigation-login::before{
	left:14px;
	background-image: url('../images/icon-login.png');
}

.inner-page .user-navigation-login::before{
	background-image: url('../images/icon-user.png');
}

.inner-page .user-navigation-login::after{
	right:10px;
	background-image: url('../images/icon-login.png');
}

.user-navigation-login:hover::before,
.user-navigation-login:hover::after{
	opacity: 1;
}
.user-navigation-login:active::before,
.user-navigation-login:active::after{
	opacity: 0.3;
}

.user-navigation a:hover{
	color:#ee3643;
}

.user-navigation a:active{
	color:#b2b2b2;
	
}

.inner-page .user-navigation-login:hover{
	color:#000000;
}

.inner-page .user-navigation-login:active{
	color:#b2b2b2;
}

.inner-page .user-navigation-login{
	margin-right:0;
	margin-bottom:9px;
	width:300px;
	box-sizing: border-box;
}

.inner-page .user-navigation-order,
.inner-page .user-navigation-account{
	position: relative;
	margin:0 16px;
	padding:0;
	font-size:16px;
	line-height: 18px;
	color:#32425c;
	background-color:transparent;
	text-decoration: underline;
}

.inner-page .user-navigation-order::after{
	content:"";
	position: absolute;
	right:-18px;
	top:7px;
	width:4px;
	height:4px;
	background-color:#32425c;
	border-radius: 50%;
}

.site-navigation{
	display:flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-between;
	margin:0;
	padding:0;
	list-style: none;
	background-color: #32425c;
	background-image: url('../images/meny-bg.jpg');
	background-repeat: repeat-x;
	background-position: bottom center;
}

.site-navigation a{
	display:block;
	padding: 21px 31px;
	font-size: 17px;
	line-height:17px;
	color:#ffffff;
}

.site-navigation a:hover{
	background-color: #293449;
}

.site-navigation a:active{
	background-color: #1d2739;
	color:#8e939c;
}

.features{
	display:flex;
	align-items: flex-start;
	flex-wrap: wrap;
	justify-content: space-between; 
	margin-bottom:53px;
}

.features-column-left{
	width:620px;
	margin-right:20px;
}

.features-column-right{
	width:300px;
}

.features-list{
	display:flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin:0;
	padding:0;
	list-style: none;
}

.features-item{
	position: relative;
	padding:21px;
	width:258px;
}

.new::after{
	content:"";
	position: absolute;
	top:0;
	right:0;
	width:60px;
	height:59px;
	background-image: url('../images/icon-new.png');
	background-repeat: no-repeat;
	background-position: top center;
}

.features-item:not(:last-child){
	margin-bottom:20px;
}

.features-item::before{
	content:"";
	position:absolute;
	top:0;
	right:0;
	width:140px;
	height:100%;
	background-repeat: no-repeat;
	background-position: center center;
}

.features-materials{
	background-color: #ffbf47;
}
.features-materials::before{
	background-image: url('../images/icon-features-1.png');
}

.features-tools{
	background-color: #3bbce3;
}
.features-tools::before{
	background-image: url('../images/icon-features-2.png');
}

.features-slider{
	padding:0;
	width: 620px;
	background-color: #cccccc;
	line-height: 0;
}
.features-slider::before{
	display:none;
}

.features-technic{
	background-color: #dc91d8;
}

.features-technic::before{
	background-image: url('../images/icon-features-3.png');
}

.features-discounts{
	background-color: #8ed78f;
}
.features-discounts::before{
	background-image: url('../images/icon-features-4.png');
}

.features-delivery{
	background-color: #ffc047;
}
.features-delivery::before{
	background-image: url('../images/icon-features-5.png');
}


.features-item h3{
	margin:0;
	margin-bottom:13px;
	font-size: 24px;
	line-height:30px;
	color:#ffffff;
	border-radius:3px;
}

.features-button{
	position:relative;
	display:inline-block;
	padding:10px 24px;
	line-height:18px;
	color:#ffffff;
	text-transform: uppercase;
	background-color: rgba(0,0,0,0.1);
	border-radius:3px;
}


.features-button:hover{
	background-color: rgba(0,0,0,0.2);
}

.features-button:active{
	background-color: rgba(0,0,0,0.3);
}


.features-slider-list{
	margin:0;
	padding:0;
	list-style: none;
}

.features-slider-item{
	position: relative;
	min-height: 266px;
}


.features-slider-item img{
	position: absolute;
	width: 620px;
	height:266px;
	z-index: 0;
}

.features-slider-desc{
	position: relative;
	padding: 25px;
}

.features-slider-desc h3{
	margin:0;
	font-size: 36px;
	line-height:36px;
	text-transform: uppercase;
}

.features-slider-desc p{
	margin:0;
	font-size: 18px;
	line-height:24px;
	color:#ffffff;
}

.features-slider-controls{
	position: absolute;
    top: 0;
    padding: 25px;
    height: 266px;
    width: 100%;
    box-sizing: border-box;
    z-index: 2;
}


.features-slider-controls .slider-button{
	position: absolute;
	bottom:25px;
	padding:10px 45px;
	line-height: 18px;
	border-radius:3px;
	z-index: 1;
}

.features-slider-controls .btn-control{
	position: absolute;
	top:114px;
	padding:0;
	border:none;
	background-color:transparent;
	cursor: pointer;
}

.features-slider-controls .btn-control-left{
	left:25px;
}

.features-slider-controls .btn-control-right{
	right:25px;
}

.features-slider-controls .slides-switches{
	position: absolute;
	bottom:40px;
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
	margin:0;
	padding:0;
	list-style: none;
	width:570px;
}

.slides-switches .btn-radio{
	position: relative;
	margin-right:10px;
	padding:0;
	width:10px;
	height:10px;
	background-color: #ffffff;
	border:none;
	border-radius:50%;
	cursor: pointer;
}

.btn-radio-current::before{
	content:"";
	position: absolute;
	top:2px;
	left:2px;
	width:6px;
	height:6px;
	background-color:#ee3643;
	border-radius: 50%;
	cursor:default;
}


.popular-wrapper{
	display:flex;
	align-items: center;
	justify-content: space-between;
	padding:30px;
	background-color: #f9f5f0;
	margin-bottom:20px;
}

.popular-wrapper h2{
	margin:0;
	font-size: 30px;
	line-height: 30px;
	color:#32425c;
	text-transform: uppercase;
	font-weight:400;
}

.popular-button{
	padding:10px;
	min-width:233px;
	line-height: 18px;
	border-radius:3px;
}

.catalog-list{
	display:flex;
	flex-wrap: wrap;
	margin:0;
	padding:0;
	list-style: none;
	text-align: center;
}

.inner-page .catalog-list{
	margin-bottom:32px;
}

.catalog-item{
	position: relative;
	flex-shrink: 0;
	display:flex;
	flex-direction:column;
	align-items: center;
	margin-right:20px;
	padding-bottom:20px;
	margin-bottom: 20px;
	width:218px;
	border: 1px solid #eaeaea;
}

.catalog-item:hover .catalog-wrapper{
	display:block;
}

.catalog-item:nth-child(4n){
	margin-right:0;
}

.inner-page .catalog-item:nth-child(3n){
	margin-right:0;
}
.inner-page .catalog-item:nth-child(4n){
	margin-right:20px;
}

.catalog-item:hover{
	box-shadow: 0 10px 25px rgba(41,52,73,0.5);
	outline: none;
}


.catalog-img{
	margin:0;
	margin-bottom:10px;
	order:-1;
	line-height: 0;
}

.catalog-item h3,
.catalog-old-price,
.catalog-price{
	font-family: 'PT-Sans', Arial, sans-serif;
	font-weight: 700;
}

.catalog-item h3{
	margin:0;
	margin-bottom:15px;
	font-size: 18px;
	line-height:20px;
}

.catalog-price{
	position: relative;
    display: flex;
    flex-direction: column;
	margin:0;
	font-size: 17px;
	line-height:18px;
}

.catalog-old-price{
	margin-bottom:12px;
	font-size: 17px;
	line-height:18px;
	color:#a9a9a9;
	text-decoration:line-through;
}

.catalog-price-value{
	position: absolute;
	bottom: 0;
	transform: translate(50%, -50%);
	color:#ffffff;
}

.catalog-wrapper{
	position: absolute;
	display:none;
	padding-top:45px;
	width: 218px;
    background-color: #ffffff;
}

.catalog-wrapper .button-buy,
.catalog-wrapper .button-bookmark{
	width:135px;
	line-height: 18px;
	border-radius:3px;
	box-sizing: border-box;
}

.button-buy{
	position: relative;
	margin-bottom:7px;
	padding:10px;
	padding-bottom:7px;
	color:#ffffff;
	background-color: #63a63e;
	border-bottom:3px solid #367315;
}

.button-buy::before{
	content: "";
	position:absolute;
	left:12px;
	top:11px;
	width:15px;
	height:15px;
	background-image: url('../images/icon-basket.png');
	background-repeat:no-repeat;
	background-position: top center;
	opacity: 0.3;
}


.button-buy:hover::before,
.button-buy:active::before{
	opacity: 1;
}

.button-buy:hover{
	background-color: #5fbb2d;
}

.button-buy:active{
	background-color: #518534;
	border-color:#518534;
}

.button-bookmark{
	background-color: #ffffff;
	color:#32425c;
	padding:7px 10px;
	border:3px solid #63a63e;
}

.button-bookmark:hover{
	border-color:#32425c;
	background-color: #ffffff;
}

.button-bookmark:active{
	opacity: 0.3;
}


.popular-brands{
	margin-bottom:65px;
}

.brands-list{
	display:flex;
	flex-wrap: wrap;
	margin:0;

	padding:0;
	list-style: none;
}

.brands-item{
	margin-right:20px;
	margin-bottom:20px;
	width:218px;
	height:143px;
	border:1px solid #ebebeb;
	background-color:#ffffff;
}

.brands-item:nth-child(4n){
	margin-right:0;
}

.brands-item:hover{
	box-shadow: 0 10px 25px rgba(41,52,73,0.5);
}

.brands-item:active{
	box-shadow: 0 4px 10px rgba(41,52,73,0.5);
}


.brands-item a{
	display: flex;
	width:100%;
	min-height:143px;
}

.brands-item img{
	margin:auto;
}

.brands-item img:active{
	opacity: 0.3;
}

.services{
	margin-bottom:82px;
	padding-top:68px;
	background-color: #f4f7f9;
}


.services h2{
	margin:0;
	margin-bottom:34px;

	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
}

.services .services-text{
	margin:0;
	margin-bottom:20px;

	font-family: 'PT-Sans', Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
}

.services-wrapper{
	display:flex;
	justify-content: space-between;
	min-height: 333px;
}

.services-list{
	position: relative;
	margin:0;
	padding:0;
	list-style: none;
	padding-top:50px;
	padding-bottom:50px;
	width:240px;
	font-size: 21px;
	line-height: 30px;
	font-weight:700;
	color:#ffffff;
}

.services-list:before{
	content:"";
	position: absolute;
	top:0;
	right: 0;
    width:10px;
    height:272px;
    background-image:url('../images/servises-border.png');
    background-repeat: no-repeat;
    background-position: top center;
    z-index: 1;
}

.services-item{
	position:relative;
	padding:15px 22px;
	background-color: #32425c;
	cursor:pointer;
	border-top:1px solid #405069;
	border-bottom:1px solid #293449;
}


.services-item:not(.services-current):hover{
	background-color: #293449;
}

.services-current{
	background-color: #ffffff;
	color:#32425c;
	border-color:#ffffff;
	cursor: auto;
}

.services-desc{
	position: relative;
	margin:0;
	padding:0;
	padding-top:50px;
	padding-left:20px;
	list-style: none;
	width:620px;
}

.services-desc li{
	padding-bottom:50px;
	min-height:233px;
}

.services-desc li::before{
	content: "";
	position: absolute;
	right:0;
	background-repeat: no-repeat;
	background-position: right bottom;
	z-index: 0;
}

.services-desc-delivery::before{
	width:465px;
	height:285px;
	background-image:url('../images/servises-delivery.jpg');
}

.services-desc-guarantee::before{
	width:389px;
	height:283px;
	background-image:url('../images/servises-guarantee.jpg');
}

.services-desc-credit::before{
	width:465px;
	height:285px;
	background-image:url('../images/servises-credit.jpg');
}

.services-desc h3{
	position: relative;
	margin:0;
	margin-bottom:30px;

	width:360px;
	font-size: 36px;
	line-height: 36px;
	color:#32425c;
	z-index: 1;
}


.services-desc .services-desc-text{
	position: relative;
	margin: 0;

	width:320px;
	font-family: 'PT-Sans', Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
	z-index: 1;
}

.services-desc-button{
	position: relative;
	margin-top: 25px;
	padding:10px 44px;
	line-height: 18px;
	border-radius:3px;
	background-color: #ff5357;
	z-index: 1;
}


.index-column{
	display:flex;
	justify-content: space-between;
}


.aboutus{
	width:560px;
}

.aboutus h2{
	margin:0;
	margin-bottom:35px;

	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
}

.aboutus p{
	margin:0;
	margin-bottom:22px;

	font-family: 'PT-Sans', Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
}

.aboutus .aboutus-text{
	margin-bottom:25px;
}

.partner-list{
	margin:0;
	margin-bottom:40px;
	padding:0;
	list-style: none;
}

.partner-item{ 
	position: relative;
	margin-bottom:22px;
	padding-left:36px;
	font-size:18px;
	line-height: 20px;
	font-weight: 700;
}

.partner-item:last-child{
	margin-bottom:0px;
}

.partner-item::before{
	content:"";
	position: absolute;
	top:8px;
	left:0;
	width:25px;
	height: 2px;
	background-color:#ee3643;
}

.partner-button{
	padding:10px 40px;
	border-radius:3px;
	line-height: 18px;
	background-color:#ee3643;
}

.contacts{
	position: relative;
	width:300px;
}

.contacts h2{
	margin:0;
	margin-bottom:35px;
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
}

.contacts-text{
	margin:0;
	margin-bottom:35px;
	font-family: 'PT-Sans', Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
}

.contacts-map{
	display:block;
	line-height: 0;
	opacity: 1.0;
	transition: opacity 0.3s;
}

.contacts-map:hover{
	opacity: 0.7;
}

.contacts-button{
	position: absolute;
	bottom:0;
	padding-top:10px;
	padding-bottom:10px;
	width:100%;
	border-radius:3px;
	line-height: 18px;
	background-color:#ee3643;
}

/*******************catalog.html begin************************/

.breadcrumb-list{
	display: flex;
	align-items: center;
	margin:0;
	padding:0;
	padding:23px 0;
	list-style: none;
}

.bread-crumb-item{
	position: relative;
	margin-right:40px;
	font-family: 'PT-Sans', Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
}

.bread-crumb-item a{
	color:#000000;
}

.bread-crumb-item:not(:last-child)::after{
	content:"";
	position: absolute;
	top:2px;
	right:-23px;
	width:8px;
	height: 12px;
	background-image: url('../images/icon-right-small.png');
	background-repeat: no-repeat;
	background-position: top center;
}

.main-heading{
	margin:0;
	margin-bottom:20px;
	padding:30px;
	font-size: 30px;
    line-height: 30px;
    color: #32425c;
    text-transform: uppercase;
    font-weight: 400;
    background-color: #f2f6f8;
}

.inner-columns{
	display:flex;
	justify-content: space-between;
	margin-bottom:60px;
}

.filter{
	width:220px;
}

.filter-heading{
	margin:0;
	padding:10px 18px;
	font-family: 'PT-Sans', Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
	background-color:#f7f3ec;
	border-radius: 3px;
}

.filter-form fieldset{
	margin:0;
	padding:0;
	padding-bottom:20px;
	border:none;
	border-bottom: 1px solid #e5e5e5;
}

.filter-form fieldset:nth-child(3){
	margin-bottom:75px;
	padding:0;
	border:none;
}

.filter-form legend{
	padding:14px 0;
	font-family: 'PT-Sans', Arial, sans-serif;
	font-size: 17px;
	line-height: 30px;
	text-transform: uppercase;
	font-weight: 700;
}

.filter-range-indicator{
	position: relative;
	padding:39px 20px;
	margin-bottom:9px;
	background-color: #f7f3ec;
	border-radius:3px;
}

.filter-range-indicator::before{
	content:"";
	position: absolute;
	top:39px;
	left:20px;
	right:20px;
	height:2px;
	background-color:#d7dcde;
	z-index: 0;
}

.range-indicator-min,
.range-indicator-max{
	position: absolute;
	top:30px;
	z-index: 2;
	cursor:pointer;
}

.range-indicator-min{
	left:20px;
}

.range-indicator-max{
	right:40px;
}

.range-indicator-line{
	position: absolute;
	left: 20px;
    right: 40px;
	height:2px;
	background-color:#00ca74;
	z-index: 1;
}

.filter-range-container{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom:5px;
	border-radius:3px;
}

.filter-range-container input[type='text']{
	padding:10px 0;
	width:95px;
	font:inherit;
	font-family: 'PT-Sans', Arial, sans-serif;
	font-size: 17px;
	line-height: 18px;
	border:none;
	background-color: #f7f3ec;
	text-align: center;
	border-radius:3px;
}

.filter-range-container input[type='text']:focus{
	outline-color: transparent;
}

.filter-range-container::before{
	content:"";
	position: absolute;
	left:105px;
	width: 10px;
	height:1px;
	background-color: #000000;
}

.filter-list{
	margin:0;
	padding: 0;
	list-style:none;
}

.filter-option{
	position: relative;
	margin-bottom:17px;
	padding-left:35px;
	font-family: 'PT-Sans', Arial, sans-serif;
	font-size: 15px;
	text-transform: uppercase;
}

.filter-option:last-child{
	margin-bottom:0;
}

.checkbox-indicator{
	position: absolute;
	left:0;
	width:19px;
	height:19px;
	border:2px solid #b5b5b5;
	border-radius:2px;
}

.filter-option:hover .checkbox-indicator{
	border-color: #c5c5c5;
}

.checkbox-indicator::before{
	content:"";
	position: absolute;
	top:-2px;
	left:-2px;
	width:27px;
	height:23px;
	background-repeat: no-repeat;
	background-position: top center;
}


.filter-option input[type='checkbox']:checked + .checkbox-indicator::before{
	background-image:url('../images/checkbox-off.jpg');
	opacity: 0.8;
}

.filter-option input[type='checkbox']:checked + .checkbox-indicator{
	border-color:transparent;
}

.filter-option input[type='checkbox']:not([disabled]):hover + .checkbox-indicator::before{
	opacity: 1.0;
}

.filter-option input[type='checkbox']:not([disabled]):hover + .checkbox-indicator + span{
	color:#000000;
}

.filter-option input[type='checkbox']:disabled + .checkbox-indicator{
	opacity: 0.3;
}

.filter-option input[type='checkbox']:disabled + .checkbox-indicator + span{
	opacity: 0.4;
	pointer-events: none;
}

.radio-indicator{
	position: absolute;
	left:0;
	width:17px;
	height:17px;
	border:4px solid #c5c5c5;
	border-radius:50%;
}

.radio-indicator::before{
	content:"";
	display: none;
	position: absolute;
	top:4px;
	left:4px;
	width:9px;
	height:9px;
	background-color:#c5c5c5;
	border-radius: 50%
}

.filter-option input[type='radio']:checked + .radio-indicator::before{
	display: block;
}

.filter-option input[type='radio']:not([disabled]):hover + .radio-indicator{
	border-color: #b5b5b5;
}
.filter-option input[type='radio']:not([disabled]):hover + .radio-indicator::before{
	background-color:#b5b5b5;
}

.filter-option input[type='radio']:disabled + .radio-indicator,
.filter-option input[type='radio']:disabled + .radio-indicator::before,
.filter-option input[type='radio']:disabled + .radio-indicator + span{
	opacity: 0.3;
}

.filter-btn{
	padding:9px 38px;
	font-family: 'PT-Sans', Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	color:#000000;
	background-color: #ffffff;
	border:1px solid #e5e5e5;
	cursor: pointer;
	border-radius:2px;
}

.filter-btn:hover,
.filter-btn:active{
	border-color:#b5b5b5;
	background-color: #ffffff;
}

.filter-btn:focus{
	outline-color: transparent;
}

.sort{
	width:700px;
}

.sort-column{
	display:flex;
	align-items: center;
	margin-bottom:20px;
	padding-right:17px;
	background-color: #f7f3ec;
	border-radius:3px;
}

.sort-column h2{
	margin: 0;
    padding: 10px 18px;
    font-family: 'PT-Sans', Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
}

.sort-section{
	display:flex;
	justify-content: space-between;
	margin:0;
	margin-left:auto;
	padding:0;
	width:445px;
	list-style: none;
}

.sort-section a{
	font-family: 'PT-Sans', Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color:#b2b2b2;
    text-transform: uppercase;
    border-bottom:1px dotted #ee3643;
}

.sort-section a:hover{
	color:#000000;
	border-bottom-style: solid;
}

.sort-section .sort-section-current{
	color: #ee3643;
	border:none;
	pointer-events: none;
}

.sort-option{
	display: flex;
	align-items: center;
	justify-content: space-between;
	width:45px;
}

.sort-option a{
    font-size: 0;
    line-height: 0;
    border-bottom:none;
}

.sort-option a:hover{
	 border-bottom:none;
}

.sort-option .sort-down{
	transform: rotate(-180deg);
}

.sort-option path{
    fill:#c5c5c5;
}

.sort-option a:not(.sort-option-current):hover path{
    fill:#000000;
}

.sort-section .sort-option-current path{
	fill:#ee3643;
}

.pagination-list{
	display:flex;
	margin:0;
	padding:0;
	list-style: none;
}

.pagination-item a{
	display: block;
	margin-right:10px;
	min-width:36px;
	padding:9px 0;
	font-family: 'PT-Sans', Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color:#000000;
    text-align: center;
    text-transform: uppercase;
    border:1px solid #e5e5e5;
    border-radius:2px;
}

.pagination-item a:hover{
	border-color:#bdc6ca;
}

.pagination-item a:active{
	border-color:#ee3643;
}

.pagination-current a{
	background-color:#ee3643;
	border-color:#ee3643;
	color:#ffffff;
	pointer-events: none;
}

.pagination-next a{
	padding:9px 31px;
}

.about-product{
	padding:68px 0;
	background-color: #f2f6f8;
}

.about-product h2{
	margin:0;
	margin-bottom:30px;
	font-size:30px;
	line-height: 30px;
	font-weight: 400;
	text-transform:uppercase;
}

.about-product p{
	margin:0;
	font-family: 'PT-Sans', Arial, sans-serif;
	font-size:13px;
}

/*******************catalog.html end************************/

.main-footer{
	margin-top:85px;
	color:#ffffff;
	background-color: #32425c;
}

.inner-page .main-footer{
	margin-top:0;
}

.footer-navigation-container{
	display:flex;
	margin-bottom:30px;
}

.main-footer-logo{
	padding-top:19px;
	padding-bottom:19px;
	width: 220px;
	font-size:30px ;
	line-height:30px;
	color:#ffffff;
	text-align:center;
	background-color:#ee3643; 
	background-image: url('../images/footer-logo-bg.jpg');
	background-repeat: repeat-x;
	text-transform: uppercase;
}



.footer-navigation-meny{
	display:flex;
	justify-content: space-between;
	margin:0;
	margin-left:auto;
	padding:0;
	padding-top:40px;
	width:550px;
	list-style: none;
}

.footer-inner-container{
	display:flex;
	margin-bottom:50px;
}

.footer-address{
	margin:0;
	width:380px;
	font-size: 18px;
	line-height:24px;
}


.footer-services{
	display:flex;
	justify-content: space-between;
	margin:0;
	margin-left:auto;
	padding:0;
	width:525px;
	list-style: none;
}


.footer-navigation-meny a,
.footer-services a{
	font-size: 18px;
	line-height:24px;
	color:#f3f7f9;
}

.footer-services a{
	color:#ffd180;
}

.footer-navigation-meny a:hover,
.footer-services a:hover{
	text-decoration: underline;
}

.footer-navigation-meny a:active,
.footer-services a:active{
	text-decoration: none;
	opacity: 0.5;
}


.footer-wrapper{
	padding:33px 0;
	background-color: #293449;
}


.footer-columns{
	display:flex;
}

.footer-copyright{
	margin:0;
	margin-right:150px;
	width:240px;
	font-size: 16px;
	line-height:18px;
	color:#ffffff;
}


.footer-feedback a,
.footer-developed a{
	color:#ffd180;
}

.social-list{
	display:flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin:0;
	padding:0;
	width:130px;
	list-style: none;
}

.social-button{
	display: flex;
	align-items: center;
	justify-content: center;
	width:40px;
	height:40px;
	border-radius:50%;
	background-color: #212a3a;
}

.social-button:hover,
.social-button:active{
	background-color:#ee3643;
}

.footer-additional-info{
	display:flex;
	justify-content: space-between;
	flex-wrap:wrap;
	margin:0;
	margin-left:auto;
	padding:0;
	width:300px;
	list-style: none;
}

.footer-feedback,
.footer-developed{
	margin:0;
	font-size: 16px;
	line-height:18px;
	color:#ffffff;
}

.footer-developed{
	padding-right: 15px;
}

.footer-feedback a:active,
.footer-developed a:active{
	color:#ee3643;
}

.bg-color{
	position: fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.1);
	z-index: 2;
	animation: bg-fon 0.3s;
}

@keyframes bg-fon{
	0%{
		background-color:rgba(0,0,0,0.0);
	}
	100%{
		background-color:rgba(0,0,0,0.1);
	}
}

.no-bg{
	background-color:rgba(0,0,0,0.0);
	animation: no-bg 0.3s;
}

@keyframes no-bg{
	0%{
		background-color:rgba(0,0,0,0.1);
	}
	100%{
		background-color:rgba(0,0,0,0.0);
	}
}

.scroll-hidden{
 	overflow: hidden; 
}

.modal{
	position: fixed;
	left:50%;
	top:50%;
	z-index: 3;
	box-shadow: 0 0 16px rgba(47,42,43,0.5);

}

.modal-info{
	display:none;
	margin-left:-310px;
	margin-top:-200px;
	padding-top:48px;
	width:620px;
	border-top:7px solid #ff5358;
	background-color:#ffffff;
	box-shadow: 0 20px 40px rgba(41,52,73,0.7);
}

.modal-info h2{
	position: relative;
	margin:0 auto;
	margin-bottom:48px;
	padding:18px 0;
	padding-left:100px;
	width:315px;
	font-size: 30px;
	line-height: 30px;
	font-weight:400;
}

.modal-info h2::before{
	content:"";
	position: absolute;
	top:0;
	left:0;
	width:66px;
	height:66px;
	background-image: url('../images/icon-mark.png');
	background-repeat: no-repeat;
	background-position: top center;
}

.modal-info-container{
	margin:0;
	display:flex;
	justify-content: space-between;
	padding:37px 80px;
	background-color:#f4f4f4;
}

.btn-order-reg,
.btn-continue-shopping{
	padding:7px 10px;
	width:200px;
	border-radius:2px;
}

.btn-continue-shopping{
	background-color: #ffffff;
	color:#000000;
	font-weight: 700;
}

.btn-continue-shopping:hover,
.btn-continue-shopping:active{
	color:#ff5358;
	background-color: #ffffff;
}

.modal-message{
	display:none;
	margin-left:-310px;
	margin-top:-200px;
	padding-top:45px;
	width:620px;
	border-top:7px solid #ff5358;
	background-color:#ffffff;
}


.form-container{
	display:flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding:0 80px;
}

.form-field{
	margin:0;
	line-height: 0;
}

.form-field label{
	display:block;
	margin-bottom:10px;
	font:inherit;
	font-size: 18px;
	line-height: 18px;
	font-weight:700;
}

.form-field input[type='text']{
	margin-bottom:22px;
	padding:8px 14px;
	width:220px;
	font:inherit;
	font-family: 'PT-Sans', Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	border:2px solid #d7dcde;
	border-radius: 3px;
	box-sizing: border-box;
}


.form-message-text{
	margin-bottom:37px;
	padding:12px 14px;
	width:460px;
	min-height:114px;
	font:inherit;
	font-family: 'PT-Sans', Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	border:2px solid #d7dcde;
	border-radius: 3px;
	box-sizing: border-box;
	resize: none;
}

.form-field input[type='text']:hover,
.form-message-text:hover{
	border-color: #b5b5b5;
}

.form-field input[type='text']:focus,
.form-message-text:focus{
	outline: transparent;
	border-color: #ee3643;
}

.form-field input[type='text']::-webkit-input-placeholder,
.form-message-text::-webkit-input-placeholder{ /* Chrome/Opera/Safari */
  color: #a9a9a9;
  font-family: 'PT-Sans', Arial, sans-serif;
}
.form-field input[type='text']::-moz-placeholder,
.form-message-text::-moz-placeholder{ /* Firefox 19+ */
  color: #a9a9a9;
  font-family: 'PT-Sans', Arial, sans-serif;
}
.form-field input[type='text']:-ms-input-placeholder,
.form-message-text:-ms-input-placeholde{ /* IE 10+ */
  color: #a9a9a9;
  font-family: 'PT-Sans', Arial, sans-serif;
}
.form-field input[type='text']:-moz-placeholder,
.form-message-text:-moz-placeholder{ /* Firefox 18- */
  color: #a9a9a9;
  font-family: 'PT-Sans', Arial, sans-serif;
}


.form-submit{
	background-color:#f4f4f4;
	padding:37px 80px;
}

.button-submit{
	padding:0;
	padding-top:10px;
	padding-bottom:10px;
	width:100%;
	line-height: 18px;
	border-radius:3px;
}

.modal-map{
	display:none;
	margin-left:-470px;
	margin-top:-200px;
	width:940px;
	min-height:446px;
	background-color: #cccccc;
}

.map-wrapper{
	position: relative;
	margin:0;
	line-height: 0;
}

.map-wrapper img{
	width:940;
	height:446px;
}

.map-wrapper iframe{
	position: absolute;
	border:none;
}

.modal-close{
	position: absolute;
	top:9px;
	right:9px;
	width:21px;
	height:21px;
	background-color:transparent;
	border:none;
	cursor:pointer;
}

.modal-close::before,
.modal-close::after{
	content:"";
	position: absolute;
	top:-3px;
	left:9px;
	width:3px;
	height:27px;
	background-color: #ee3643;
	border-radius:3px;
}

.modal-close::before{
	transform: rotate(45deg);
}
.modal-close::after{
	transform: rotate(-45deg);
}

@keyframes bounse{
	0%{
		transform: translateY(-2000px);
	}
	70%{
		transform: translateY(30px);
	}
	90%{
		transform: translateY(-10px);
	}
	100%{
		transform: translateY(0);
	}
}

.modal-show{
	display:block;

	animation: bounse 0.6s
}


@keyframes shake{
	0%,
	100%{
		transform:translateX(0);
	}
	10%,
	30%,
	50%,
	70%,
	90%{
		transform:translateX(-10px);
	}
	20%,
	40%,
	60%,
	80%{
		transform:translateX(10px);
	}
}


.modal-error{
	animation: shake 0.6s;
}
